<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="./login">
		<div>
			<label for="email" class="text-uppercase">Email</label> <input
				type="text" name="email" placeholder="Email" required>

		</div>
		<div>
			<label for="password">Password</label> <input type="password"
				name="password" placeholder="Password" required>
		</div>

		<div>
			<button type="submit">Submit</button>
		</div>

	</form>

	<h3 th:text="${message}"></h3>

</body>
</html>